.place__image {
  grid-column: 1;
  grid-row: 2/8;
  max-width: 460px;
  max-height: 460px;
}

@media screen and (max-width: 1200px) {
  .place__image {
    width: 96%;
    height: auto;
    min-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__image {
    width: 94%;
    height: auto;
    min-width: 340px;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
    max-width: 320px;
    margin: 0 5%;
  }
}

@media screen and (max-width: 351px) {
  .place__image {
    min-width: 320px;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .place__image {
    max-width: 320px;
    margin: 0;
  }
}
