.place__paragraph {
  font-weight: 400;
  font-style: normal;
  grid-column: 2;
  font-size: 18px;
  line-height: 163%;
  margin: 0 0 26px 0;
}

.place__paragraph:first-child {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    max-width: 100%;
    font-size: 16px;
    line-height: 163%;
  }
}
@media screen and (max-width: 767px) {
  .place__paragraph {
    grid-column: 1;
    max-width: 82%;
    margin: 0 16px 25px 16px;
  }
}
